{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailer.title }} <a href="/" class="btn btn-info float-right">К списку</a></h1>
        <div class="row">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="{{ trailer.image }}" class="img-fluid" alt="">
                    </div>
                    <div class="col">
                        <div class="card-block px-2 pb-2">
                            <h4 class="card-title">{{ trailer.title }}</h4>
                            <p class="card-text">{{ trailer.description }}</p>
                            <a href="{{ trailer.link }}" target="_blank" class="btn btn-light">Источник</a>
                            <button onclick="addLike({{ trailer.id }}, this)" class="btn btn-primary">LIKE (<i>{{ likes }}</i>)
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        function addLike(trailerId, btn) {
            $.ajax({
                method: "POST",
                url: "/trailers/" + trailerId + "/like",
            })
                .done(function (data) {
                    $(btn).find('i').text(data.count)
                })
                .fail(function () {
                    alert("error");
                });
        }
    </script>
{% endblock js %}