{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <div class="row">
            {% for trailer in trailers %}
                <div class="col mb-2 align-items-stretch ">
                    <div class="card h-100">
                        <img class="card-img-top w-100" src="{{ trailer.image }}" alt="Card image cap">
                        <div class="card-body">
                            <a href="/trailers/{{ trailer.id }}" class="h5">{{ trailer.title }}</a>
                        </div>
                    </div>
                </div>
                {% if loop.index == 5 %}
                    <div class="w-100"></div>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
